@charset "UTF-8";

@import url(/src/icon/css/fontawesome.css);
@import url(/src/icon/css/brands.css);
@import url(/src/icon/css/solid.css);

@font-face {
	src: url(/src/font/dogica.otf);
	font-family: "DogicaRegular";
}

$default-color: #00eab5;
$second-color: black;

body {
	font-family: "DogicaRegular", monospace;
	margin: 0;
	margin-bottom: 3em;
	box-sizing: border-box;
	font-size: 1.3em;
	line-height: 1.3em;
	text-align: center;
}

::selection {
	background: $default-color;
	color: $second-color;
}

a {
	text-decoration: underline dashed;
	color: $default-color;

	&:hover {
		text-decoration: underline;
	}
}

/* MAIN */

main {
	h1 {
		font-size: 25em;
		text-decoration: 10px underline dashed $default-color;
		line-height: 1.2em;

		&:hover, &:focus {
			text-decoration: 10px underline $default-color;
		}
	}

	img {
		height: 4em;
		width: 3.9em;
	}
}
/* Article */

#social-media {
	a {
	text-decoration: none;
	}

	.fab, .fas {
		font-size: 2.5em;
		line-height: 1.3em;
	}

	i {
		display: none;
	}
}

.support a {
	font-size: .8em;
	text-decoration: none;
	padding: .2em .3em;
	color: white;
	background-color: $second-color;
	
	&:hover, &:focus {
		color: $second-color;
		background-color: $default-color;
	}
}

/* FOOTER */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background: $second-color;
	width: 100%;
	color: white;
	font-size: .7em;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: $second-color;
	}

	::selection {
		color: white;
	}

	.support a {
		background-color: white;
		color: $second-color;
	}
}