$default-color: #00eab5;

@import url(https://emoji-css.afeld.me/emoji.css);

@import url(https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css);

@font-face {
	src: url(https://fontlibrary.org/assets/fonts/pixelated/da9eda566d65f23a7b73fd59a976b28d/60ad0534c4f6733fca1d6246d200b10c/SFPixelateRegular.ttf);
	font-family: "SFPixelateRegular";
}

body {
	font-family: "SFPixelateRegular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 1em;
	box-sizing: border-box;
	font-size: 2.9vh;
}

::selection {
	background: $default-color;
	color: black;
}

a {
	text-decoration: underline dashed;
	color: $default-color;

	&:hover {
		text-decoration: underline;
	}
}

/* Main Content */

main {
	h1 {
		font-size: 3em;
		text-decoration: 10px underline dashed $default-color;

		&:hover, &:focus {
			text-decoration: 10px underline $default-color;
		}
	}

	img {
		position: relative;
		width: .7em;
	}
	
	@at-root &, #social-media {
		text-align: center;
	}
}

/* Article */

#social-media {
	margin-bottom: 2em;
	a {
	text-decoration: none;
	}

	.icon {
		font-size: 2.5em;
		line-height: 1.3em;
	}
}

.support a {
	font-size: .8em;
	text-decoration: none;
	padding: .2em .3em;
	color: white;
	background-color: $default-color;
	
	&:hover, &:focus {
		color: $default-color;
		background-color: black;
	}
}

.svg-elementary {
	background: {
		image: url(/photos/elementaryOS.svg);
		repeat: no-repeat;
		size: 2.5em;
	};
	width: 1em;
	padding: 1.6em;
	padding-right: 1.4em;
}

/* Footer */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background: black;
	padding: .001em;
	width: 100%;
	color: white;
	font-size: .6em;

	p {
			margin-left: 2%;
	}
}